<p>
  <strong><%= t('activerecord.attributes.condominium.name')%>:</strong>
  <%= @condominium.name %>
</p>
<p>
  <strong><%= t('activerecord.attributes.condominium.address')%>:</strong>
  <%= @condominium.address %>
</p>
<p>
  <strong><%= t('activerecord.attributes.condominium.number')%>:</strong>
  <%= @condominium.number %>
</p>
<p>
  <strong><%= t('activerecord.attributes.condominium.phone')%>:</strong>
  <%= @condominium.phone %>
</p>
<p>
  <strong><%= t('activerecord.attributes.condominium.email')%>:</strong>
  <%= @condominium.email %>
</p>

<p>
  <strong><%= t('activerecord.attributes.condominium.created_at')%>:</strong>
  <%= @condominium.created_at %>
</p>

 <div class="d-flex">
    <%= link_to t('helpers.back'), admins_condominia_path, class: 'btn btn-secondary' , title: t('hints.condominium.back_hint') %>
  </div>
